*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-size: 40px;
}
body {
  box-sizing: inherit;
  background: #94d2c1;
  padding-top: 20vh;
}

.display {
  color: #ccc;
  text-shadow: 1px 1px 1px black;
  padding: 0.25em 1em;
  text-align: end;
  display: block;
  border-radius: 10px;
  background-color: rgb(105, 98, 98);
}

.content {
  margin: 0 auto;
  padding: 1.5em;
  width: 40%;
  max-width: 492px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
  background-color: rgb(169, 160, 160);
}
ul,
li {
  padding: 0;
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  width: 100%;
  color: rgb(31, 30, 30);
  text-align: center;
}
li {
  width: 85px;
}
.btn {
  border-radius: 5px;
}

.buttons {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
.btn-1 {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.btn-number {
  background: rgb(224, 224, 224);
}
.btn-equal {
  width: 180px;
  background: blue;
}

.btn-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-operator {
  background: rgb(249, 193, 71);
}
